<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>My Useless Website</title>
  </head>
  <body>
    {{> header}}
    <p>This is where projects go</p>
    {{> footer}}
  </body>
</html>
